@import "variables/global";
@import "reset";

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background-color: var(--white);
}

.content-page {
  display: flex;
  flex-grow: 1;
}

.page-wrapper {
  display: flex;
  flex-grow: 1;
  padding: 20px;
}
