:root {
  /* цвета */
  --white: #fff;
  --dark: #1d1d1d;
  --gray: #868686;
  --orange: #ea920e;
  --violet: #ab47bc;

  /* время анимаций */
  --duration-s: 0.15s;
  --duration-m: 0.3s;
  --duration-l: 0.7s;
}
