.input {
  min-width: 240px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid var(--gray);
  transition-duration: var(--duration-s);
}

.input:hover,
.input:focus {
  border: 1px solid var(--orange);
  outline: none;
}
