.dashboard-stat-diagram {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  gap: 20px;
}

.dashboard-stat-diagram__circle_focus {
  box-shadow: 0 0 25px 5px var(--orange);
}

.dashboard-stat-diagram__text-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  gap: 5px;
}

.dashboard-stat-diagram__text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 2.5px 0;
  font-size: 18px;
  line-height: 21.6px;
  gap: 5px;
  transition-duration: var(--duration-s);
  cursor: pointer;
}

.dashboard-stat-diagram__text_focus {
  color: var(--violet);
  text-decoration: underline;
}
